<script>
    import Map from "./src/Map.svelte"
    import MarkerController from "./src/MarkerController.svelte";
    import Sidepanel from "./src/Sidepanel.svelte";
</script>

<main>
    <Map>
        <MarkerController/>
        <Sidepanel panelPosition="left" darkMode={false} tabs={["Filter", "Progress", "Settings"]}/>
    </Map>

</main>

<style>
    :root {
        /* Changes the primary theme color to purple using primitives */
        --sl-color-primary-50: var(--sl-color-purple-50);
        --sl-color-primary-100: var(--sl-color-purple-100);
        --sl-color-primary-200: var(--sl-color-purple-200);
        --sl-color-primary-300: var(--sl-color-purple-300);
        --sl-color-primary-400: var(--sl-color-purple-400);
        --sl-color-primary-500: var(--sl-color-purple-500);
        --sl-color-primary-600: var(--sl-color-purple-600);
        --sl-color-primary-700: var(--sl-color-purple-700);
        --sl-color-primary-800: var(--sl-color-purple-800);
        --sl-color-primary-900: var(--sl-color-purple-900);
        --sl-color-primary-950: var(--sl-color-purple-950);

    }

</style>
